#root {
    padding-top: 30px;
}

.App {
    width: 80%;
    margin: 0 auto;
}

.App h3{
    margin: 4px 0;
    background: #fd9;
}
.App span{
    float: right;
}

.App li{
    width: 100%;
    clear: both;
    height: 40px;
    background: #eee;
    border-bottom: #fff solid 2px;
}

.App li input,.App li p,.App li button{
    float: left;
    height: 100%;
}
.App li p{
    width: 82%;
    line-height: 40px;
    text-indent: 10px;
}